[Desktop Entry]
Name=Awards
Comment=Awards database
Exec=/home/alex320388/.local/bin/awardstart
Icon=/usr/share/icons/awardstart.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Development;Utility;Database;
MimeType=application/vnd.db4s-project+xml;application/sqlitebrowser;application/x-sqlitebrowser;application/vnd.sqlite3;application/geopackage+sqlite3;application/x-sqlite2;application/x-sqlite3;
